body{
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #000000e2;
}
.container{
    background-color: rgb(247, 55, 55);
    box-shadow: 0px 0 100px rgb(0, 247, 255);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
}
.container:hover{
    background-color: rgb(255, 0, 0);
}
h1{
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}
button{
    background-color: #6942f8;
    color: rgb(208, 255, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #000093;
}
#result{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}